# LaTeX intermediate files
*.dvi
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.log
*.out
*.toc
*.synctex.gz
*.nav
*.snm
*.vrb

# LaTeX editor files
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.lof
*.lot
*.maf
*.mtc
*.mtc0
*.run.xml

# TeXShop specific files
*.synctex(busy)
*.pdfsync
*.pdfsync(busy)

# TeXworks specific files
*.pdfsync
*.pdfsync(busy)

# Kile specific files
*.backup
*.backup(busy)

# WinEdt specific files
*.bak
*.bak(busy)

# Mac specific files
.DS_Store

# Windows specific files
Thumbs.db

# User-specific files
*.swp
*.swo
